.curtain
	background-color: rgba($black, 0.8)
	position: fixed
	width: 100vw
	height: 100vh
	z-index: 100
	display: none
	top: 0
	left: 0
.--summary-active
	.curtain
		display: block
// @media (min-width: 992px)
// 	.--summary-active
// 		.curtain
// 			display: none
@media (min-width: 1200px)
	.--summary-active
		.curtain
			display: none