.daypicker-carousel
	button[disabled] 
		opacity: 0.3
.daypicker-carousel-container
	align-items: center 
	justify-content: space-between
	i 
		color: $icon-color
.daypicker-carousel__button
	flex: 0
.daypicker-carousel__day
	padding: 0 0.2rem
.daypicker-carousel__week
	overflow-x: auto
	flex: 1
	max-width: calc(100% - 150px)
	padding-top: 5px
	padding-bottom: 5px

// @media (max-width: $query-grid-laptop) 
// 	.daypicker-carousel__day
// 		button 
// 			font-size: 0.7rem
// 			padding: .4rem .25rem

@media (max-width: 767.98px)
	.daypicker-carousel__days-container
		width: 700px