footer
    margin: 1rem 0 0.25rem
    width: 100%
    font-size: 11px
    padding: 7px
    z-index: 10
    transition: padding 0.3s ease
    p
        margin: 0
        display: inline-block
    img
        height: 12px
        margin-right: 10px
        width: auto
        margin-bottom: 2px
    // @include media-breakpoint-down(md)
    //     padding-left: 62px
    //     display: flex;
    //     align-items: center;
    //     img 
    //         float: left
    //         margin: 8px 10px 8px