.form-control
	border: none
	border-bottom: 1px solid $gray-200
	border-radius: 0
	padding: 0 0.5rem
	font-size: 0.9rem
	&:focus
		box-shadow: none
.form-group
	label
		margin-bottom: 0
		display: block
		font-weight: lighter
		font-size: 0.75rem
	&.--icon-append
		label
			margin-left: 25px

.input-group-text
	padding: 0.25rem .75rem
	padding-left: 0
	background-color: transparent
	box-shadow: none
	border: none
	text-align: center
	display: block
.input-group-append
	&.--append-floating
		position: absolute
		top: 10px
		right: 7px
		z-index: 10
		span
			padding-right: 0
			padding-top: 6px
.select-group
	width: 100%
	i 
		color: $icon-color
	label 
		width: 32px
		height: 32px
	select 
		background-color: transparent
		-webkit-appearance: none
		-webkit-border-radius: 0px
		&.form-control:focus
			color: $primary
			background-color: transparent

	&:after 
		color: $icon-color
		position: absolute
		bottom: 0.7rem
		right: 0.5rem
		content: "\f0dc"
		font-weight: 900
		font-family: 'Font Awesome\ 5 Free' 
		display: inline-block
		font-style: normal
		font-variant: normal
		text-rendering: auto
		line-height: 1

.no-gutter-form
	margin-right: -5px
	margin-left: -5px
	.col
		padding-right: 5px
		padding-left: 5px
	.no-gutter-form__icon
		padding-top: 24px
		display: block
		width: 20px

.input-group-prepend
	i
		color: $icon-color