//
// MODs
//
// Theme Dark: .theme-bk
// .grid-7x7__details-info
// .grid-7x7__details-body
// .grid-7x7__details
// .grid-7x7__container

.grid-7x7
	position: relative
.grid-7x7__container
	flex-direction: column
	position: relative
.grid-7x7__flights
	padding-top: 1rem
.grid-7x7__flight
	background-color: rgba($black,0.02)
	border-radius: 1rem 0.5rem 0.5rem
	padding-left: 0
	margin: 0 0 2rem
	&.theme-bk
		background-color: rgba($black,0.2)
//FARES TABLE
.grid-7x7__fares-actions
	display: flex
	flex-direction: row
	align-items: center
.grid-7x7__fares
	padding: 10px 15px 15px
//FARES TABLE HEADERS / FLEX / FULL / etc
.grid-7x7__fares-header
	p 
		padding-top: 0.75rem
		font-weight: bolder 
		text-align: center
		text-transform: uppercase
		font-size: 0.8rem
		margin-bottom: 0.3rem
.grid-7x7__fares-features
	i 
		margin: 0 0.5rem
		font-size: 0.8rem
		color: $secondary
// FARES DETAILS	
.grid-7x7__details
	box-shadow: 2px 2px 20px -9px $box-shadow
	//padding: 0
	margin-right: 15px
	border-radius: 4px
	transition: min-width 0.2s ease
	background-color: $white
	&.theme-bk
		color: $white
.grid-7x7__details-header
	text-align: center
	line-height: 40px
	//background: linear-gradient(135deg, $secondary 0%,rgba($secondary, 0) 100%)
	//background-color: lighten($secondary, 65)
	background-color: $white
	border-radius: 4px
	text-transform: uppercase
	display: flex 
	align-items: center
	padding: 0 1rem
	justify-content: space-between
	p 
		margin: 0
	&.--direct 
		.grid-7x7-details-conection
			background-color: transparent
			color: $secondary
		//background: linear-gradient(135deg, $secondary 0%,lighten($primary, 30%) 100%)
		i 
			background: none
.grid-7x7-details-conection
	padding-right: 17px
	display: flex
	flex-direction: row
	align-items: center
	position: relative
	left: -16px 
	border-radius: 4px
	background-color: $secondary
	transition: background-color 0.2s ease
	cursor: pointer
	&:hover
		background-color: lighten($secondary, 7%)
	p 
		font-size: 0.8rem
		font-weight: bold
		z-index: 2
		position: relative
		left: 0
	i 
		border-radius: 4px
		display: inline-block
		width: 40px
		height: 40px
		line-height: 40px
.grid-7x7__details-number
	padding: 0 1rem
	margin-right: -16px
	//background-color: rgba($secondary, 0.5)
	color: $gray-700
	font-size: 0.8rem
	font-weight: bolder
.grid-7x7__details-cities
	font-size: 0.7rem
	p
		margin: 0 0 5px
.grid-7x7__details-body
	position: relative
	padding: 5px 0 0
	text-align: center
	background-color: $white
	&.theme-bk
		background-color: rgba($black,0.2)
	h4
		margin: 0 auto
.grid-7x7__total-time
	font-size: 0.6rem
	display: flex
	flex-direction: row 
	justify-content: center 
	align-items: center
	padding: 3px 0
	background-color: rgba($secondary, 0.05)
	p 
		margin: 0
.grid-7x7__fare
	margin: 0.3rem 0 0
	padding: 7px 15px
	border-radius: 4px
	align-items: center 
	justify-content: center

// PRICE CARD 

.grid-7x7__card
	text-align: center
	background-color: $white
	position: relative
	border-radius: 4px
	cursor: pointer
	transition: transform 0.2s ease, background 0.2s ease, box-shadow 0.2s ease
	box-shadow: 0px 6px 21px -2px rgba($box-shadow,.3)
	&.--active, &.--active:hover
		background: linear-gradient(to bottom, $primary, adjust-hue($primary, -10%) 100%)
		color: $white
		box-shadow: 0 0 20px 0px rgba($primary, 0.5)
		transform: scale(1.1)
		.grid-7x7__card-remaining
			color: $white
	&.--not-available
		background-color: transparent
		border: 1px solid $gray-600
		pointer-events: none
		box-shadow: none
	&.--soldout
		pointer-events: none
		.grid-7x7__card-price
			opacity: 0.3
			background-color: $gray-400
	&:hover
		transform: scale(1.1)
		transform-origin: center center
		background-color: lighten($primary, 40%)
		box-shadow: 0 1rem 3rem rgba($box-shadow, 0.2)
	&:focus, &:active
		background-color: lighten($primary, 20%)
		transform: scale(1)
	span 
		font-size: 0.8rem
		font-weight: bolder
	
.--fare-promo-bg
	background-color: rgba(adjust-hue($primary, -10%), 0.1)
.--fare-1-bg
	background-color: rgba($secondary,0.2)
.--fare-2-bg
	background-color: rgba($secondary,0.25)
.--fare-3-bg
	background-color: rgba($secondary,0.3)
.--fare-4-bg
	background-color: rgba($secondary,0.5)

.grid-7x7__card-price
	font-size: 1rem
	margin: 0
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	padding: 0.75rem 0.2rem
	h6
		margin: 0
	span 
		margin-right: 1rem
.--not-available
	.grid-7x7__card-price
		span 
			margin: 0 auto
			font-weight: normal
.grid-7x7__card-remaining
	position: absolute
	left: 0
	right: 0
	bottom: -10px
	margin: auto
	color: $white
	width: auto
	font-size: 0.6rem
	text-transform: uppercase
	font-weight: bolder
	p 
		width: 100%
		max-width: 110px
		margin: 5px 0 0
		display: inline-block
		background: $primary
		border-radius: 2px

.grid-7x7__card-soldout
	pointer-events: none
	span 
		position: absolute
		background: $gray-800
		padding: 2px 0
		border-radius: 3px
		color: $white
		z-index: 10
		width: 100%
		max-width: 100px
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: auto
		height: 21px
// INFO OPERATED BY	
.grid-7x7__operated
	//background: linear-gradient(90deg, $gray-400, rgba($gray-400, 0) 100%)
	p
		font-size: 0.5rem
		text-align: left
		margin: 5px 0 0

.grid-7x7__details-more__button
	font-size: 0.55rem
	text-transform: uppercase
	letter-spacing: 0.7px
	padding: 0.2rem 0 0.1rem
	font-weight: bolder
	position: relative
	z-index: 100

.grid-7x7__details-info
	display: none
	background-color: $white
	border-radius: 0 0 15px 15px
	box-shadow: 0 20px 20px 0px rgba($box-shadow, 0.2)
	&.theme-bk
		color: $white
		background: rgba($black, 0.7)
	h5
		font-weight: normal
	.close-info
		position: absolute 
		top: 0
		right: 20px
		opacity: 0.5
		transition: opacity 0.2s ease
		&:hover
			opacity: 1
.grid-7x7__dot 
	height: 12px
	width: 12px
	margin: 3px
	background: $secondary
	border-radius: 50%
	opacity: 0.8
	z-index: 2
	position: relative
.grid-7x7__graph
	padding: 0
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: flex-end
	padding-bottom: 3px
	i 
		color: $icon-color
		margin-bottom: 9px
	span 
		display: block 
		width: calc(100% - 20px)
		border-top: 1px dashed $gray-400
		position: absolute
		bottom: 12px
		left: 0
		right: 0
		margin: auto
		z-index: 1
.grid-7x7__graph-airport
	flex: 0

//DETAILS INFO - GRAPH

.grid-7x7__details-location
	text-align: center
	position: relative
	z-index: 1
	width: 130px
	i 
		margin-bottom: 1rem
		color: $icon-color
.grid-7x7__details-graph
	min-height: 50px
	position: relative
	justify-content: space-between
	padding: 0 55px 20px
.grid-7x7__details-line
	height: 1px
	//background: $secondary
	position: absolute
	width: calc(100% - 230px)
	left: 0
	right: 0
	margin: auto
	top: 41px
	border-top: 2px dotted $gray-400
.grid-7x7__details-dot
	display: flex
	height: 15px
	width: 15px
	//max-width: 20px
	border-radius: 20px
	margin: 0 auto
	background-color: $secondary
.grid-7x7__details-dot-info
	text-align: center
	line-height: 1.1rem
	margin-top: 8px
	p 
		margin: 0

//SHALLOW GRID	
.grid-7x7__shallows-container
	padding-right: 15px
.grid-7x7__column-shallow
	display: none
	position: absolute
	width: 100%
	height: 100%
	z-index: -1
	//padding: 0 30px
	.row, .col 
		height: calc(100% - 10px)
	.col
		padding: 0 5px
		&:after 
			content: ''
			display: block
			height: 100%
			background-color: rgba($secondary,0.2)
			width: 100%
			border-radius: 7px
	.col:nth-child(1)
		min-width: 330px
		padding: 0 15px
		&:after 
			content: none
	.col:nth-child(4)
		&:after 
			background-color: rgba($secondary,0.25)
	.col:nth-child(5)
		&:after 
			background-color: rgba($secondary,0.3)
	.col:nth-child(6)
		&:after 
			background-color: rgba($secondary,0.5)
.col.--promo-shallow
	&:after 
		background-color: rgba(adjust-hue($primary, -10%), 0.1)

// FARE COMPARISON 
.grid-7x7__fares-collapsible
	padding: 0 15px
.grid-7x7__fares-comparison
	background-color: rgba($white, 0.95)
	border-radius: 7px
	box-shadow: 0 .5rem 1rem rgba($box-shadow,.15)
	margin: 0
	margin-bottom: 2rem
	padding: 15px 15px 10px
.grid-7x7__comparison-row
	border-bottom: 1px solid rgba($black, 0.1)
	padding: 5px 0
	text-align: center
	&:last-child
		border: none
	.grid-7x7__fare
		padding: 0 10px
		p 
			margin: 0
		i 
			color: $gray-700
.grid-7x7__comparison-details
	box-shadow: none
	justify-content: space-between
	align-items: center
	display: flex
	flex-direction: row
	padding-left: 1rem
	min-width: 300px
	margin-right: 15px
	i 
		width: 30px
		text-align: center
		color: $icon-color

//ELEMENTOS DE RESPONSIVE
.grid-7x7__fare-label
	p
		width: 100%
		display: block
		padding: 0 1.5rem 0 0
		border-radius: 3px
		font-size: 0.75rem
		font-weight: bolder
		margin: 0.25rem 0 0
.grid-7x7__fare-label-conditions
	padding: 0.25rem 0 0rem 0
	display: flex
	i 
		font-size: 0.75rem
		margin-right: 0.5rem
		color: $secondary


// CHANGE DATE IN RESULTS

.grid-7x7__change-date
	width: 100%
	margin-bottom: 0
	margin-left: 1rem


//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@media (max-width: 768px)
	.grid-7x7__card-price
		margin: 0
		font-size: 1.25rem
		font-weight: bolder

// BREAKPOINT MOBILE FIRST 

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
	.grid-7x7__order-flights
		margin: 1rem 0 0
	.grid-7x7__total-time
		font-size: 0.55rem
		line-height: 0.55rem

	.grid-7x7__fares-actions
		max-width: 315px
		padding-left: 15px !important
		margin: 0.5rem 1rem 0 0
	.grid-7x7__details
		max-width: 300px
	.grid-7x7__card
		margin: 0 auto
		width: calc(100% - 15px)
		max-width: 160px
	.grid-7x7__fares
		display: flex
		align-items: center
		flex-direction: row
	.grid-7x7__fares-container
		flex: 1
// Between Medium devices (tablets, 768px and up) and large 
@media (min-width: 768px) and (max-width: 992px)
	.grid-7x7__fares-container
		flex-direction: column
		padding-right: 1rem
		padding-left: 1rem
	.grid-7x7__details
		display: flex
		flex-direction: column
		justify-content: flex-start
		background-size: contain
	.grid-7x7__card
		margin-right: 0
	.grid-7x7__fares-actions
		max-width: initial
		display: flex
		flex-direction: row-reverse
		justify-content: space-between
		margin: 0
	.grid-7x7__order-flights
		max-width: 300px
// Large devices (Desktop, 992px and up)
@media (min-width: 992px)
	.grid-7x7__details-info
		display: block
	.grid-7x7__fares-header-container
		text-align: center
		padding-right: 15px
	.grid-7x7__card-price
		flex-direction: column
		span 
			margin: 0
	.grid-7x7__fare-label
		display: none
	.grid-7x7__column-shallow
		display: block
	.--fare-promo-bg, .--fare-1-bg, .--fare-2-bg, .--fare-3-bg, .--fare-4-bg
		background-color: transparent
	.grid-7x7__fare
		display: flex
		align-items: center
		justify-content: center
		.row 
			flex: 1
	.grid-7x7__fares-actions
		display: flex
		align-items: flex-end
		flex-direction: column

  // xs: 0,
  // sm: 576px,
  // md: 768px,
  // lg: 992px,
  // xl: 1200px