.double-button 
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	button.btn
		font-size: 0.8rem
.double-button__label
	p 
		margin-bottom: 0
		//font-weight: normal
	span 
		font-size: 0.8rem
		line-height: 0.7rem
		display: block
		color: $gray-500
.double-button__container
	max-width: 125px
	.input-group-append .btn, .input-group-prepend .btn
		padding-top: 0.5rem
	.form-control
		border: 1px solid $gray-400
		padding: 0 0.75rem
		text-align: center
		font-size: 1rem
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			-webkit-appearance: none