.lang-select__current
	img
		border-radius: 50%
		height: 20px
		width: 20px
.lang-select__options
	min-width: initial
	width: 50px
	border: none
	box-shadow: 0 1rem 3rem rgba($black,.175)
	margin-top: 0.5rem
.lang-select__flag
	padding: 0.25rem
	text-align: center
	img 
		height: 20px
		width: 20px
		border-radius: 50%
		margin: 0.25rem 0
@media (min-width: 992px)
	.lang-select__flag, .lang-select__current
		img
			height: 30px
			width: 30px
	.lang-select__options
		width: 60px