.search-form__container
	width: 330px
	margin: 0 auto
	border-radius: 7px
	overflow: hidden
	background-color: $white
	position: relative
	box-shadow: 0 1rem 3rem rgba($black,.175)
	&.--pc-active
		.search-form__pyc
			transform: translateX(0px)
			//visibility: visible
.search-form
	button.btn
		font-size: 0.8rem
	i 
		color: $icon-color
.search-form__flight-type
	text-transform: uppercase
	label 
		font-size: 0.65rem
.search-form__title
	text-align: center
	h3
		font-weight: lighter
.search-form__pyc
	height: 100%
	position: absolute
	background: $white
	top: 0
	padding: 0 15px
	left: 0
	transform: translateX(330px)
	z-index: 10
	width: 330px
	transition: all 0.2s ease
	display: flex
	flex-direction: column
	.double-button
		margin: 1rem 0
.search-form__pyc-form
	padding: 0px 0px 0
	flex: 1
	transition: all 0.2s ease
.search-form__pyc-form-container
	padding: 1rem 0
	flex: 1
	align-content: flex-start
