.select2-container--default 
	.select2-selection--single
		border: none
		border-bottom: 1px solid $gray-200
		border-radius: 0
		height: 37px
		outline: none
		transition: border-color 0.2s ease
		&:focus
			border-color: $primary
		.select2-selection__arrow
			display: none
		.select2-selection__rendered
			display: block
			height: 100%
			font-size: 0.9rem
			line-height: 36px
			color: $gray-700
	.select2-search--dropdown 
		.select2-search__field
			border: none
			outline: none
			border-bottom: 1px solid $gray-200
			&:focus
				border-bottom: 1px solid $primary
	.select2-results__option--highlighted[aria-selected]
		background: linear-gradient(to bottom, $secondary, adjust-hue($secondary, -20%) 100%)
	.select2-results__option
		border-radius: 3px
.select2-dropdown 
	width: 270px
	border: none
	box-shadow: 0px 2px 30px 0px rgba($black, 0.15)
	border-radius: 4px
	font-size: 0.9rem