.steps
	display: flex
	width: 410px
	flex-direction: row
	align-items: center
	text-align: center
	position: relative
	&:after 
		content: ''
		display: block
		height: 4px
		width: 275px
		position: absolute
		left: 0
		right: 0
		margin: auto
		top: 25px
		background-color: lighten($secondary, 60%)
		z-index: -1
.steps__step
	span 
		margin: 0 auto
		display: block 
		background-color: lighten($secondary, 60%)
		height: 15px
		width: 15px
		border-radius: 50%
		//box-shadow: inset 1px 1px 12px -3px rgba($black, 0.4)

	&.--active
		span
			background-color: $secondary
			box-shadow: 0px 0px 6px 3px lighten($secondary, 60%)
	small
		text-transform: uppercase
		display: block 
		font-size: 0.6rem
		font-weight: bolder
		color: $gray-800
		margin-bottom: 5px

@media (max-width: 768px)
	.steps 
		display: none
