//
// MODs
//
// Theme Dark:
// .summary__panel.--heme-dk
//

.summary
	position: fixed
	bottom: 0
	right: 0px
	width: 100%
	font-size: 0.9rem
	transition: transform 0.3s ease
	z-index: 1000
	transform: translateY(47px)
	//background: linear-gradient(to top, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%)
	hr 
		margin: 0.5rem 0
	&:after 
		box-shadow: inset 1px 20px 91px -19px rgba($black, 0.5)
		content: ''
		width: 100%
		height: 100%
		position: absolute
		left: 0
		z-index: -1
		top: 30px
		background: rgba($white, 0.85)
	.btn-group
		.btn
			box-shadow: 0 1rem 3rem rgba($secondary, 0.4)
.summary__container
	padding: 0 15px
	position: relative
.summary__item
	justify-content: center 
	align-items: center
	margin: 0.2em 0
	p 
		font-size: 1.05rem
	i 
		font-size: 1.25em
		width: 24px
		text-align: center
	&.--sub-item 
		margin: 0 0 5px
		i 
			font-size: 0.8em
		p 
			font-size: 0.8em
.summary__icon
	flex: 0
	padding: 0 5px 0px 10px
	opacity: 0.3
.summary__panel
	max-height: calc(100vh - 150px)
	height: 50px
	overflow-y: auto
	box-shadow: 0 1rem 3rem rgba($box-shadow,.175)
	background-color: $white // template 
	border-radius: 7px
	padding: 0.75em 0.65em
	&.--theme-dk
		background-color: rgba($black,0.3) // template
		color: $white //template
.summary__panel-container
	display: none
	// position: absolute
	// bottom: 105px
	// left: 0
	// right: 0
	// margin: auto
.summary__panel-info
	p 
		margin-bottom: 0
	small
		display: block
	b 
		opacity: 0.35
		padding-right: 3px
	i
		cursor: pointer
		color: lighten( $secondary, 15% )
		&:hover 
			color: $secondary
.summary__actions
	//transform: translateY(47px)
	margin-top: 1rem

//////////
body
	&.--fare-selected
		.summary
			transform: translateY(0)
		// .summary__actions
		// 	//transform: translatey(0)
		// 	transform: translateY(0)
	&.--summary-active
		.summary
			background: transparent
			&:after 
				content: none
		.summary__panel-container
			display: block
			transform: translateY(20px)
		.summary__panel
			height: auto
/////////
// Between Medium devices (tablets, 768px and up) and large 
// @media (min-width: 768px) and (max-width: 992px)
// 	body.--summary-active
// 		.summary__panel-container
// 			display: block
// 		.summary__panel
// 			height: auto

@media (min-width: 992px)
	.summary
		top: 75px
		right: 35px
		width: 255px
		transform: translateX(300px)
		&:after 
			content: none
	body.--summary-active
		.summary
			transform: translateX(0)
		.summary__panel-container
			transform: none
	.summary__actions
		position: static
	.summary__container
		padding: inherit
	.summary__panel
		height: auto	
		max-height: calc(100vh - 180px)
	.summary__panel-container
		display: block
		position: static
		margin-right: -15px
		margin-left: -15px
	.summary__details-button
		display: none

