.row
	.col
		.alert.alert-secondary(role='alert')
			small
				| Please select an outbound and an inbound flight. The total price will be calculated based on your selection. Note that if you change the selection, the price may be recalculated.