.summary
	.summary__container
		.row.summary__panel-container
			.col-12.col-md-6.col-lg-12
				.summary__panel
					.row.summary__item.mt-0
						.col.summary__icon
							i.fas.fa-user
						.col.summary__panel-info
							p 3 Passengers
							small 1 Adults, 2 Childs
					hr
					//- FIRST TRIP
					.row.summary__item
						.col.summary__icon
							i.fas.fa-plane
						.col.summary__panel-info
							p Thu 11 Apr 2019
					.row.summary__item.--sub-item
						.col.summary__icon
							i.fas.fa-plane-departure
						.col.summary__panel-info
							p New York (JFK)
					.row.summary__item.--sub-item
						.col.summary__icon
							i.fas.fa-plane-arrival
						.col.summary__panel-info
							p Paris (CDG)
					.row.summary__item.--sub-item
						.col.summary__panel-info
							p
								b Travel Time 
								| 15d 07h 05m, Direct flight
					.row.summary__item.--sub-item
						.col.summary__panel-info
							p.d-inline
								b Eco - Flexible
							i.fas.fa-briefcase
							i.fas.fa-utensils
							i.fas.fa-film
							i.fas.fa-hand-holding-usd
							i.fas.fa-sync
					//- FIRST TRIP
					//- hr
					//- .row.summary__item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane
					//- 	.col.summary__panel-info
					//- 		p Thu 11 Apr 2019
					//- .row.summary__item.--sub-item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane-departure
					//- 	.col.summary__panel-info
					//- 		p New York (JFK)
					//- .row.summary__item.--sub-item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane-arrival
					//- 	.col.summary__panel-info
					//- 		p Paris (CDG)
					//- .row.summary__item.--sub-item
					//- 	.col.summary__panel-info
					//- 		p
					//- 			b Travel Time 
					//- 			| 15d 07h 05m, Direct flight
					//- .row.summary__item.--sub-item
					//- 	.col.summary__panel-info
					//- 		p.d-inline
					//- 			b Eco - Flexible
					//- 		i.fas.fa-briefcase
					//- 		i.fas.fa-utensils
					//- 		i.fas.fa-film
					//- 		i.fas.fa-hand-holding-usd
					//- 		i.fas.fa-sync
					//- FIRST TRIP
					//- hr
					//- .row.summary__item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane
					//- 	.col.summary__panel-info
					//- 		p Thu 11 Apr 2019
					//- .row.summary__item.--sub-item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane-departure
					//- 	.col.summary__panel-info
					//- 		p New York (JFK)
					//- .row.summary__item.--sub-item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane-arrival
					//- 	.col.summary__panel-info
					//- 		p Paris (CDG)
					//- .row.summary__item.--sub-item
					//- 	.col.summary__panel-info
					//- 		p
					//- 			b Travel Time 
					//- 			| 15d 07h 05m, Direct flight
					//- .row.summary__item.--sub-item
					//- 	.col.summary__panel-info
					//- 		p.d-inline
					//- 			b Eco - Flexible
					//- 		i.fas.fa-briefcase
					//- 		i.fas.fa-utensils
					//- 		i.fas.fa-film
					//- 		i.fas.fa-hand-holding-usd
					//- 		i.fas.fa-sync
					//- FIRST TRIP
					//- hr
					//- .row.summary__item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane
					//- 	.col.summary__panel-info
					//- 		p Thu 11 Apr 2019
					//- .row.summary__item.--sub-item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane-departure
					//- 	.col.summary__panel-info
					//- 		p New York (JFK)
					//- .row.summary__item.--sub-item
					//- 	.col.summary__icon
					//- 		i.fas.fa-plane-arrival
					//- 	.col.summary__panel-info
					//- 		p Paris (CDG)
					//- .row.summary__item.--sub-item
					//- 	.col.summary__panel-info
					//- 		p
					//- 			b Travel Time 
					//- 			| 15d 07h 05m, Direct flight
					//- .row.summary__item.--sub-item
					//- 	.col.summary__panel-info
					//- 		p.d-inline
					//- 			b Eco - Flexible
					//- 		i.fas.fa-briefcase
					//- 		i.fas.fa-utensils
					//- 		i.fas.fa-film
					//- 		i.fas.fa-hand-holding-usd
					//- 		i.fas.fa-sync

					hr
					.row.summary__item
						.col.summary__icon
							i.fas.fa-money-bill
						.col.summary__panel-info
							p
								| From 
								strong $1724.71 
							small Round Trip price for all travelers (including taxes and fees)
		.row.mt-3.summary__actions
			.col-12.col-md-6.col-lg-12.summary__details-button
				button.btn.btn-sm.btn-block.btn-secondary.mb-2#btn-continue
					i.fas.fa-map-marked-alt.mr-2
					| Summary Details
			.col-12.col-md-6.col-lg-12
				.btn-group.w-100(role="group", aria-label="Basic example")
					button.btn.btn-sm.btn-light.mb-2 
						i.fas.fa-search.mr-2
						| Modify Search
					button.btn.btn-sm.btn-light.mb-2 Fares Conditions
			.col-12
				button.btn.btn-block.btn-primary.mb-2 Continue