.daypicker-carousel.my-sm-3.d-none.d-md-block
	.row.daypicker-carousel-container
		.col.flex-0
			i.fas.fa-calendar-week
		.col.daypicker-carousel__button.pl-0
			button.btn.btn-light.btn-sm(type='button')
				i.fas.fa-chevron-left
		.col.daypicker-carousel__week
			.row.daypicker-carousel__days-container
				.col.daypicker-carousel__day
					button.btn.btn-light.btn-sm.btn-block(type='button') Mar 12 Feb
				.col.daypicker-carousel__day
					button.btn.btn-light.btn-sm.btn-block(type='button', disabled) Mie 13 Feb
				.col.daypicker-carousel__day
					button.btn.btn-light.btn-sm.btn-block(type='button') Jue 14 Feb
				.col.daypicker-carousel__day
					button.btn.btn-secondary.btn-sm.btn-block(type='button') Vie 15 Feb
				.col.daypicker-carousel__day
					button.btn.btn-light.btn-sm.btn-block(type='button') Sab 16 Feb
				.col.daypicker-carousel__day
					button.btn.btn-light.btn-sm.btn-block(type='button', disabled) Dom 17 Feb
				.col.daypicker-carousel__day
					button.btn.btn-light.btn-sm.btn-block(type='button') Lun 18 Feb
		.col.daypicker-carousel__button
			button.btn.btn-light.btn-sm(type='button')
				i.fas.fa-chevron-right