footer.text-center
	.container-fluid
		.row
			.col
				img(src="assets/images/logo-kiu.svg", height="30")
				p Copyright © 2018. Todos los derechos reservados.
				//a(href="http://www.kiusys.com", target="_blank")
script(src='assets/js/vendor.min.js', defer='')
script(src='assets/js/app.js', defer='')