.row.collapse.grid-7x7__fares-collapsible
	.col.grid-7x7__fares-comparison
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Checked baggage
				i.fas.fa-suitcase.float-right.p-2
			.col.grid-7x7__fare
				small 1 x 20 kg 1 x 23 kg (DOM)
			.col.grid-7x7__fare
				small 1 x 20 kg 1 x 23 kg (DOM)
			.col.grid-7x7__fare
				small 1 x 20 kg 1 x 23 kg (DOM)
			.col.grid-7x7__fare
				small 1 x 20 kg 1 x 23 kg (DOM)
			.col.grid-7x7__fare
				small 1 x 20 kg 1 x 23 kg (DOM)
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Carry-on luggage
				i.fas.fa-shopping-bag.float-right.p-2
			.col.grid-7x7__fare
				p 1 x 5 kg
			.col.grid-7x7__fare
				p 1 x 5 kg
			.col.grid-7x7__fare
				p 1 x 5 kg
			.col.grid-7x7__fare
				p 1 x 5 kg
			.col.grid-7x7__fare
				p 1 x 5 kg
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Pre-booking of seat
				i.fas.fa-user-check.float-right.p-2
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Hot Meal
				i.fas.fa-utensils.float-right.p-2
			.col.grid-7x7__fare
				i.fas.fa-check
			.col.grid-7x7__fare
				i.fas.fa-check
			.col.grid-7x7__fare
				i.fas.fa-check
			.col.grid-7x7__fare
				i.fas.fa-check
			.col.grid-7x7__fare
				i.fas.fa-check
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Entertainment
				i.fas.fa-film.float-right.p-2
			.col.grid-7x7__fare
				i.fas.fa-times
			.col.grid-7x7__fare
				small Wireless entertainment system XL Cloud
			.col.grid-7x7__fare
				small Wireless entertainment system XL Cloud
			.col.grid-7x7__fare
				small Wireless entertainment system XL Cloud
			.col.grid-7x7__fare
				small Wireless entertainment system XL Cloud
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Changeable ticket
				i.fas.fa-sync.float-right.p-2
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
		.row.grid-7x7__comparison-row
			.col.grid-7x7__comparison-details
				span Refundable ticket
				i.fas.fa-hand-holding-usd.float-right.p-2
			.col.grid-7x7__fare
				i.fas.fa-times
			.col.grid-7x7__fare
				i.fas.fa-times
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
			.col.grid-7x7__fare
				i.fas.fa-money-bill-wave
