.col.grid-7x7__fares
	.row.grid-7x7__fares-container
		////////////////////////////////
		// SEATS LEFT
		////////////////////////////////
		.col-12.col-md.grid-7x7__fare.--fare-promo-bg
			.row
				.col.grid-7x7__fare-label
					p ECO - PROMO
					.grid-7x7__fare-label-conditions
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-utensils
						i.fas.fa-film
				.col
					.grid-7x7__card
						//- .--sold-out
						//- .promo
						.grid-7x7__card-price
							span ARS
							h6.grid-7x7__card-price-value 1,304,023
						.grid-7x7__card-remaining
							p 2 seats left
		////////////////////////////////
		// NOT AVAILABLE
		////////////////////////////////
		.col-12.col-md.grid-7x7__fare.--fare-1-bg
			.row
				.col.grid-7x7__fare-label
					p ECO - STANDARD
					.grid-7x7__fare-label-conditions
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-utensils
						i.fas.fa-film
				.col
					.grid-7x7__card.--not-available
						.grid-7x7__card-price
							span NOT AVAILABLE
		////////////////////////////////
		// SOLD OUT
		////////////////////////////////
		.col-12.col-md.grid-7x7__fare.--fare-2-bg
			.row
				.col.grid-7x7__fare-label
					p ECO - FLEXIBLE
					.grid-7x7__fare-label-conditions
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-utensils
						i.fas.fa-film
				.col
					.grid-7x7__card.--soldout
						.grid-7x7__card-soldout
							span SOLD OUT
						.grid-7x7__card-price
							span ARS
							h6.grid-7x7__card-price-value 1,304,023
		.col-12.col-md.grid-7x7__fare.--fare-3-bg
			.row
				.col.grid-7x7__fare-label
					p ECO - FLEX
					.grid-7x7__fare-label-conditions
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-utensils
						i.fas.fa-film
				.col
					.grid-7x7__card
						//- .--sold-out
						//- .promo
						.grid-7x7__card-price
							span ARS
							h6.grid-7x7__card-price-value 1,304,023
						//- .grid-7x7__card-remaining
						//- 	p 2 seats left
		.col-12.col-md.grid-7x7__fare.--fare-4-bg
			.row
				.col.grid-7x7__fare-label
					p FULL - FLEX
					.grid-7x7__fare-label-conditions
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-utensils
						i.fas.fa-film
				.col
					.grid-7x7__card
						//- .--sold-out
						//- .promo
						.grid-7x7__card-price
							span ARS
							h6.grid-7x7__card-price-value 1,304,023
						//- .grid-7x7__card-remaining
						//- 	p 2 seats left
				