.grid-7x7.mt-sm-4
	.row.grid-7x7__container
		//FONDO COLUMNAS
		.col.grid-7x7__column-shallow
			.row.grid-7x7__shallows-container
				.col
				.col.--promo-shallow
				.col
				.col
				.col
				.col
		//ENCABEZADO COLUMNAS FARES GRILLA
		include grid-7x7__fares-header
		.col.grid-7x7__flights
			// COLLAPSIBLE COMPARACION FARES
			include grid-7x7__fares-comparison
			// VUELO #1 DIRECTO
			.row.grid-7x7__flight
				// CARD VUELO
				.col-12.grid-7x7__details
					.row.grid-7x7__details-header.--direct
						.grid-7x7-details-conection
							i.fa.fa-map-marker-alt
							p DIRECT FLIGHT
						.grid-7x7__details-number
							p KG-9128
					.row.grid-7x7__details-body
						.col
							// DEPARTURE / ARRIVAL
							.row
								.col-12.grid-7x7__details-cities
									.row
										.col.text-left
											p Buenos Aires
										.col.text-right
											p Distrito Federal 
								// GRAFICO LINEA TEXTO DEPARTURE
								.col.grid-7x7__graph-airport.mr-0
									h4 AEP
									small 06:15
								// GRAFICO LINEA VUELO
								.col.grid-7x7__graph
									div
										i.fas.fa-plane-departure
										.grid-7x7__dot
									div
										i.fas.fa-map-marker-alt
										.grid-7x7__dot
									span
								// GRAFICO LINEA TEXTO ARRIVAL
								.col.grid-7x7__graph-airport.ml-0
									h4 IGR
									small 08:50
							// TIEMPO / OPERADO POR
							.row.pt-2
								.col-6.grid-7x7__total-time
									i.far.fa-clock.pr-2
									p Total Time 15d 24h 15m
								.col-6.grid-7x7__operated
									p Operated by 
										b.text-primary Air Zimbabwe
							.row
								button.btn.btn-secondary.btn-block.grid-7x7__details-more__button(data-toggle='collapse', data-target='#fligth-info-collapse-1', aria-expanded='false', aria-controls='fligth-info-collapse-1') Details
				// FLIGHT DETAIL MOBILE
				.col-12.grid-7x7__details-info-mobile.d-sm-none.collapse#fligth-info-collapse-1
					h1 OH LORD MAI GODDISH
				//////////////////////////
				// FARES
				//////////////////////////
				include grid-7x7__fares
				// COLLAPSE FLIGHT-LINE
				.col-12.grid-7x7__details-info.collapse#fligth-info-collapse-1
					.row.my-3
						.col-12
							h6 New York - Paris, Tuesday 09 April
							i.fas.fa-times.close-info(data-toggle='collapse', data-target='#fligth-info-collapse-1', aria-expanded='false', aria-controls='fligth-info-collapse-1')
					.row.grid-7x7__details-graph
						.grid-7x7__details-line
						.grid-7x7__details-location
							i.fas.fa-plane-departure
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p AEP
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-map-marker-alt
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p IGR
								p
									b T4
			// VUELO #2 CONECCIONES
			.row.grid-7x7__flight
				// CARD VUELO
				.col-12.grid-7x7__details
					.row.grid-7x7__details-header
						.grid-7x7-details-conection
							i.fa.fa-share-alt
							p 3 CONECTIONS
						.grid-7x7__details-number
							p KG-9128
					.row.grid-7x7__details-body
						.col
							// DEPARTURE / ARRIVAL
							.row
								.col-12.grid-7x7__details-cities
									.row
										.col.text-left
											p Buenos Aires
										.col.text-right
											p Distrito Federal 
								// GRAFICO LINEA TEXTO DEPARTURE
								.col.grid-7x7__graph-airport.mr-0
									h4 AEP
									small 06:15
								// GRAFICO LINEA VUELO
								.col.grid-7x7__graph
									div
										i.fas.fa-plane-departure
										.grid-7x7__dot
									div
										i.fas.fa-map-marker-alt
										.grid-7x7__dot
									span
								// GRAFICO LINEA TEXTO ARRIVAL
								.col.grid-7x7__graph-airport.ml-0
									h4 IGR
									small 08:50
							// TIEMPO / OPERADO POR
							.row.pt-2
								.col-6.grid-7x7__total-time
									i.far.fa-clock.pr-2
									p Total Time 15d 24h 15m
								.col-6.grid-7x7__operated
									p Operated by 
										b.text-primary Air Zimbabwe
							.row
								button.btn.btn-secondary.btn-block.grid-7x7__details-more__button(data-toggle='collapse', data-target='#fligth-info-collapse-1', aria-expanded='false', aria-controls='fligth-info-collapse-1') Details
				// FLIGHT DETAIL MOBILE
				.col-12.grid-7x7__details-info-mobile.d-sm-none.collapse#fligth-info-collapse-1
					h1 OH LORD MAI GODDISH
				//////////////////////////
				// FARES
				//////////////////////////
				include grid-7x7__fares
				// COLLAPSE FLIGHT-LINE
				.col-12.grid-7x7__details-info.collapse.multi-collapse
					.row.my-3
						.col-12
							h6 New York - Paris, Tuesday 09 April
							i.fas.fa-times.close-info(data-toggle='collapse', data-target='.multi-collapse', aria-expanded='false', aria-controls='multiCollapseExample1 multiCollapseExample2')
					.row.grid-7x7__details-graph
						.grid-7x7__details-line
						.grid-7x7__details-location
							i.fas.fa-plane-departure
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p AEP
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-plane
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p COR
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-clock
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p COR
								small
									p Tiempo de Conexion 
										b 12 Hs
						.grid-7x7__details-location
							i.fas.fa-plane
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p SAL
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-plane-arrival
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p IGR
								p
									b T4
			// VUELO #1 DIRECTO
			.row.grid-7x7__flight
				// CARD VUELO
				.col-12.grid-7x7__details
					.row.grid-7x7__details-header.--direct
						.grid-7x7-details-conection
							i.fa.fa-map-marker-alt
							p DIRECT FLIGHT
						.grid-7x7__details-number
							p KG-9128
					.row.grid-7x7__details-body
						.col
							// DEPARTURE / ARRIVAL
							.row
								.col-12.grid-7x7__details-cities
									.row
										.col.text-left
											p Buenos Aires
										.col.text-right
											p Distrito Federal 
								// GRAFICO LINEA TEXTO DEPARTURE
								.col.grid-7x7__graph-airport.mr-0
									h4 AEP
									small 06:15
								// GRAFICO LINEA VUELO
								.col.grid-7x7__graph
									div
										i.fas.fa-plane-departure
										.grid-7x7__dot
									div
										i.fas.fa-map-marker-alt
										.grid-7x7__dot
									span
								// GRAFICO LINEA TEXTO ARRIVAL
								.col.grid-7x7__graph-airport.ml-0
									h4 IGR
									small 08:50
							// TIEMPO / OPERADO POR
							.row.pt-2
								.col-6.grid-7x7__total-time
									i.far.fa-clock.pr-2
									p Total Time 15d 24h 15m
								.col-6.grid-7x7__operated
									p Operated by 
										b.text-primary Air Zimbabwe
							.row
								button.btn.btn-secondary.btn-block.grid-7x7__details-more__button(data-toggle='collapse', data-target='#fligth-info-collapse-1', aria-expanded='false', aria-controls='fligth-info-collapse-1') Details
				// FLIGHT DETAIL MOBILE
				.col-12.grid-7x7__details-info-mobile.d-sm-none.collapse#fligth-info-collapse-1
					h1 OH LORD MAI GODDISH
				//////////////////////////
				// FARES
				//////////////////////////
				include grid-7x7__fares
				// COLLAPSE FLIGHT-LINE
				.col-12.grid-7x7__details-info.collapse#fligth-info-collapse-1
					.row.my-3
						.col-12
							h6 New York - Paris, Tuesday 09 April
							i.fas.fa-times.close-info(data-toggle='collapse', data-target='#fligth-info-collapse-1', aria-expanded='false', aria-controls='fligth-info-collapse-1')
					.row.grid-7x7__details-graph
						.grid-7x7__details-line
						.grid-7x7__details-location
							i.fas.fa-plane-departure
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p AEP
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-map-marker-alt
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p IGR
								p
									b T4
			// VUELO #2 CONECCIONES
			.row.grid-7x7__flight
				// CARD VUELO
				.col-12.grid-7x7__details
					.row.grid-7x7__details-header
						.grid-7x7-details-conection
							i.fa.fa-share-alt
							p 3 CONECTIONS
						.grid-7x7__details-number
							p KG-9128
					.row.grid-7x7__details-body
						.col
							// DEPARTURE / ARRIVAL
							.row
								.col-12.grid-7x7__details-cities
									.row
										.col.text-left
											p Buenos Aires
										.col.text-right
											p Distrito Federal 
								// GRAFICO LINEA TEXTO DEPARTURE
								.col.grid-7x7__graph-airport.mr-0
									h4 AEP
									small 06:15
								// GRAFICO LINEA VUELO
								.col.grid-7x7__graph
									div
										i.fas.fa-plane-departure
										.grid-7x7__dot
									div
										i.fas.fa-map-marker-alt
										.grid-7x7__dot
									span
								// GRAFICO LINEA TEXTO ARRIVAL
								.col.grid-7x7__graph-airport.ml-0
									h4 IGR
									small 08:50
							// TIEMPO / OPERADO POR
							.row.pt-2
								.col-6.grid-7x7__total-time
									i.far.fa-clock.pr-2
									p Total Time 15d 24h 15m
								.col-6.grid-7x7__operated
									p Operated by 
										b.text-primary Air Zimbabwe
							.row
								button.btn.btn-secondary.btn-block.grid-7x7__details-more__button(data-toggle='collapse', data-target='#fligth-info-collapse-1', aria-expanded='false', aria-controls='fligth-info-collapse-1') Details
				// FLIGHT DETAIL MOBILE
				.col-12.grid-7x7__details-info-mobile.d-sm-none.collapse#fligth-info-collapse-1
					h1 OH LORD MAI GODDISH
				//////////////////////////
				// FARES
				//////////////////////////
				include grid-7x7__fares
				// COLLAPSE FLIGHT-LINE
				.col-12.grid-7x7__details-info.collapse.multi-collapse
					.row.my-3
						.col-12
							h6 New York - Paris, Tuesday 09 April
							i.fas.fa-times.close-info(data-toggle='collapse', data-target='.multi-collapse', aria-expanded='false', aria-controls='multiCollapseExample1 multiCollapseExample2')
					.row.grid-7x7__details-graph
						.grid-7x7__details-line
						.grid-7x7__details-location
							i.fas.fa-plane-departure
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p AEP
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-plane
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p COR
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-clock
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p COR
								small
									p Tiempo de Conexion 
										b 12 Hs
						.grid-7x7__details-location
							i.fas.fa-plane
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p SAL
								p
									b T4
						.grid-7x7__details-location
							i.fas.fa-plane-arrival
							.grid-7x7__details-dot
							.grid-7x7__details-dot-info
								p IGR
								p
									b T4
