.col.grid-7x7__fares-header
	.row.grid-7x7__fares-header-container
		.col.grid-7x7__fares-actions
			//TOGGLE COLLAPSIBLE
			button.btn.btn-outline-primary.btn-sm.d-none.d-md-block(type='button', data-toggle="collapse", data-target=".grid-7x7__fares-collapsible" aria-expanded="false", aria-controls="grid-7x7__fares-collapsible")
				| Fare Comparision
				i.fas.fa-chevron-down.ml-2
			//COMBO "ORDER BY"
			include grid-7x7__order-by
			//INPUT CAMBIAR FECHA VIAJE
			include grid-7x7__change-date
		.col.d-none.d-lg-block
			.row
				.col
					p ECO - Promo
					div.grid-7x7__fares-features
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-film
				.col
					p ECO - Standard
					div.grid-7x7__fares-features
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-film
				.col
					p ECO - Flexible
					div.grid-7x7__fares-features
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-film
				.col
					p ECO - Flex
					div.grid-7x7__fares-features
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-utensils
						i.fas.fa-film
				.col
					p FULL Flex
					div.grid-7x7__fares-features
						i.fas.fa-suitcase
						i.fas.fa-shopping-bag
						i.fas.fa-user-check
						i.fas.fa-utensils
						i.fas.fa-film
	//FILTROS 
		.col.grid-7x7__fares-actions
	// VUELOS
