.input-group.select-group.--icon-append
	.input-group-prepend
		label.input-group-text(for="grid7x7__sort-by-select")
			i.fas.fa-sort-amount-down
	select.form-control.form-control-sm#grid7x7__sort-by-select
		option(value="1", selected) Lower Prices
		option(value="2") Higher Prices
		option(value="3") Higher Prices
		option(value="4") 1
		option(value="5") 1
//- .form-group.--icon-append
//- 	//- label(for='basic-url')
//- 	//- 	small Departure Flight
//- 	.input-group.mb-3
//- 		.input-group-prepend
//- 			span#basic-addon1.input-group-text
//- 				i.fas.fa-plane-departure
//- 		input.form-control(type='text', placeholder='Where from?', aria-label='Username', aria-describedby='basic-addon1')
