head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Web Starter Kit
	link(media='all', rel='stylesheet', href='assets/css/vendor.min.css')
	link(media='all', rel='stylesheet', href='assets/css/style.min.css')
	//- link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700', rel='stylesheet')