.lang-select
	.row
		.col
			.lang-select__current.dropdown-toggle#dropdownLangButton(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				img(src="assets/images/flag-spain.svg", width="20", height="20")
			.lang-select__options.dropdown-menu(aria-labelledby='dropdownLangButton')
				.lang-select__flag.dropdown-item
					img(src="assets/images/flag-usa.svg", width="20", height="20")
				.lang-select__flag.dropdown-item
					img(src="assets/images/flag-france.svg", width="20", height="20")
				.lang-select__flag.dropdown-item
					img(src="assets/images/flag-italy.svg", width="20", height="20")