.row
	.col
		.panel__header
			.search-form__flight-type.btn-group.btn-group-toggle.btn-block(data-toggle='buttons')
					label.btn.btn-sm.btn-outline-secondary.active
						input#flightTypeRoundTrip(type='radio', name='options', autocomplete='off', checked='', autofocus)
						|  Ida y Vuelta
					label.btn.btn-sm.btn-outline-secondary
						input#flightTypeOneWay(type='radio', name='options', autocomplete='off')
						|  Sólo Ida
form.row.search-form
	.col.flex-column
		.row.flex-1.mt-3
			.col
				.row.no-gutter-form
					.col.flex-0
						span.no-gutter-form__icon
							i.fas.fa-plane
					.col
						.form-group
							label(for='basic-url') Origen
							.input-group
								select.form-control.form-control-sm#loc-1-btn
									option(value="1", selected) 
									option(value="2") AEP - Buenos Aires Aeroparque 
									option(value="3") BRC - Bariloche
									option(value="4") SBA - Salta
									option(value="5") MDQ - Mar del Plata
				.row.no-gutter-form
					.col.flex-0
						span.no-gutter-form__icon
							i.fas.fa-plane.fa-flip-horizontal
					.col#inputReturnFlight
						.form-group
							label(for='basic-url') Destino
							.input-group
								select.form-control.form-control-sm#loc-2-btn
									option(value="1", selected) 
									option(value="2") AEP - Buenos Aires Aeroparque 
									option(value="3") BRC - Bariloche
									option(value="4") SBA - Salta
									option(value="5") MDQ - Mar del Plata
				.row.no-gutter-form
					.col.flex-0
						span.no-gutter-form__icon
							i.fas.fa-calendar-day
					.col
						.form-group
							label(for='basic-url') Fecha de Partida
							.input-group
								.input-group-prepend
								input.form-control.datepicker-here(type='text', placeholder='', aria-label='Username', aria-describedby='basic-addon1', tabindex='1',data-language="es",data-range="true",data-multiple-dates-separator=" - ", data-position="bottom left")#loc-1-btn
								.invalid-feedback.d-block
									| Fecha Inválida
					.col#inputReturnDate
						.form-group
							label(for='basic-url') Fecha de Regreso
							.input-group
								input.form-control(type='text', placeholder='', aria-label='Username', aria-describedby='basic-addon1', tabindex='2')#loc-2-btn
				.row.no-gutter-form
					.col.flex-0
						span.no-gutter-form__icon
							i.fas.fa-users
					.col
						.form-group
							label(for='basic-url') Cantidad de Pasajeros
							.input-group
								input.form-control(type='text', placeholder='Adultos 1, Niños 0, Bebés 0', aria-label='Username', aria-describedby='basic-addon1', tabindex='5')#passenger-class-btn
								.input-group-append.--append-floating
									i.fas.fa-chevron-right
				.row.no-gutter-form
					.col.flex-0
						span.no-gutter-form__icon
							i.fas.fa-chevron-circle-right
					.col
						.form-group
							label(for='basic-url') Elija su ubicación
							.input-group.select-group
								select.form-control.form-control-sm#search-form__select-currency
									option(value="1", selected) Argentina
									option(value="2") Brasil
									option(value="3") Uruguay
									option(value="4") Chile
									option(value="5") Peru
		.row.py-3
			.col-6.d-flex.flex-row.align-items-center.offset-6
				a.btn.btn-primary.btn-block(href='blue-results.html', tabindex='7') Search Flights
