.row.border-bottom
	.col
		.panel__header
			i.fas.fa-user.mr-3
			p Pasajeros
form.row.search-form__pyc-form
	.col.flex-column
		.row.search-form__pyc-form-container
			.col-12.double-button
				.double-button__label
					p Adultos
					span Mayor de 18 Años
				// PRINCIPIO
				.input-group.double-button__container
					.input-group-prepend
						button.btn.btn-outline-gray(type="button")
							i.fas.fa-minus
					input.form-control#pc-adults(type="number", placeholder="0", aria-label="Recipient's username", aria-describedby="basic-addon2", tabindex="7")
					.input-group-append
						button.btn.btn-outline-gray(type="button")
							i.fas.fa-plus
			.col-12.double-button
				.double-button__label
					p Menores
					span Hasta 17 años
				// PRINCIPIO
				.input-group.double-button__container
					.input-group-prepend
						button.btn.btn-outline-gray(type="button")
							i.fas.fa-minus
					input.form-control(type="number", placeholder="0", aria-label="Recipient's username", aria-describedby="basic-addon2", tabindex="8")
					.input-group-append
						button.btn.btn-outline-gray(type="button")
							i.fas.fa-plus
			.col-12.double-button
				.double-button__label
					p Infantes
					span De 4 a 17 años
				// PRINCIPIO
				.input-group.double-button__container
					.input-group-prepend
						button.btn.btn-outline-gray(type="button")
							i.fas.fa-minus
					input.form-control(type="number", placeholder="0", aria-label="Recipient's username", aria-describedby="basic-addon2", tabindex="9")
					.input-group-append
						button.btn.btn-outline-gray(type="button")
							i.fas.fa-plus
			//- .col-12.double-button
			//- 	.double-button__label
			//- 		p Estuadiantes
			//- 		span Con certificado
			//- 	// PRINCIPIO
			//- 	.input-group.double-button__container
			//- 		.input-group-prepend
			//- 			button.btn.btn-outline-gray(type="button")
			//- 				i.fas.fa-minus
			//- 		input.form-control(type="number", placeholder="0", aria-label="Recipient's username", aria-describedby="basic-addon2", tabindex="10")
			//- 		.input-group-append
			//- 			button.btn.btn-outline-gray(type="button")
			//- 				i.fas.fa-plus
		.row.py-3
			.col
				button.btn.btn-block.btn-outline-primary(tab-index="11") Cancel
			.col
				button.btn.btn-block.btn-primary#add-pc(tab-index="10", type="button") Done