.row.mt-4
	.col 
		h3.font-weight-lighter Select Departure Flight 
	.col.text-right.d-none.d-lg-block.d-xl-none
		button.btn.btn-outline-secondary#btn-summary-lg
			i.fas.fa-map-marked-alt.mr-2
			| Summary Details
			//- small 
			//- 	small Buenos Aires to San Francisco City