body
	//background-image: url('../images/kiu-bg.jpg')
	//background-color: #e7eff0
	background-color: rgba($secondary, 0.025)
	//background-color: $white
	background-size: cover
.grid-7x7__details-header
	color: $white

//$box-shadow: #4963ff
$box-shadow: $secondary
$icon-color: $gray-500