//$primary: #FFD200;
//$secondary: #00A552;

body
	background-image: url('../images/bg.jpg')
.alert 
	border: none
.alert-secondary
	background: linear-gradient(135deg, rgba(0,255,41,0.3) 0%,rgba(0,135,46,0.1) 100%)