doctype html
html(lang='en')
	include ../partials/head
	body
		header
			//nav
			.container-fluid
				nav.navbar.navbar-light
					include ../partials/nav-brand
					include ../partials/steps
					include ../partials/lang
		main
			.container-fluid
				// TITULO
				.d-sm-none
					include ../partials/breadcrumb
				.d-none.d-sm-block
					include ../partials/title
				include ../partials/daypicker-carousel
				include ../partials/grid-7x7
				include ../partials/alert
		aside
			include ../partials/blue-summary-test
		include ../partials/curtain
		include ../partials/foot

