doctype html
html(lang='en')
	include ../partials/head
	body.view-search
		header
			//nav
			.container-fluid
				nav.navbar.navbar-light
					include ../partials/nav-brand
					include ../partials/lang
		main
			.container-fluid
				.row
					.col-12.search-form__title
						h3.mb-3 Search Flights
					.col-12
						.row
							.search-form__container
								.col-12
									include ../partials/search__main-form
								.col-12.search-form__pyc
									include ../partials/search__passengers-class
		include ../partials/foot
		include ../partials/curtain

