doctype html
html(lang='en')
	include ../partials/head
	body
		header
			//nav
			.container-fluid
				nav.navbar.navbar-light
					include ../partials/nav-brand
					include ../partials/steps
					include ../partials/lang
		main
			.container-fluid
				// TITULO
				include ../partials/title
				include ../partials/daypicker-carousel
				include ../partials/alert
				include ../partials/grid-7x7
		aside
			include ../partials/summary

		include ../partials/foot

