doctype html
html(lang='en')
	include ../partials/head
	body.view-search
		header
			.container-fluid
				nav.navbar.navbar-light
					a.navbar-brand(href='#')
						img(src='/assets/images/logo-kiu.svg', width='auto', height='30', alt='')
		main
			.container-fluid
				.row
					.col-12.searh-form__title
						h3.mb-0 Search Flights
					.col-12
						form.row.search-form
							.col-12
								.search-form__flight-type.btn-group.btn-group-toggle.btn-block.mb-3(data-toggle='buttons')
										label.btn.btn-sm.btn-outline-secondary.active
											input#option1(type='radio', name='options', autocomplete='off', checked='')
											|  Round Trip
										label.btn.btn-sm.btn-outline-secondary
											input#option2(type='radio', name='options', autocomplete='off')
											|  One-Way
										label.btn.btn-sm.btn-outline-secondary
											input#option3(type='radio', name='options', autocomplete='off')
											|  Multi-Destination
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Departure Flight
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-plane-departure
										input.form-control(type='text', placeholder='Where from?', aria-label='Username', aria-describedby='basic-addon1')
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Return Flight
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-plane-arrival
										input.form-control(type='text', placeholder='Where to?', aria-label='Username', aria-describedby='basic-addon1')
							.col-6.pr-0
								.form-group.--icon-append
									label(for='basic-url')
										small Return Flight
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-calendar-day
										input.form-control(type='text', placeholder='When from?', aria-label='Username', aria-describedby='basic-addon1')
							.col-6
								.form-group
									label(for='basic-url')
										small Return Flight
									.input-group.mb-3
										input.form-control(type='text', placeholder='When from?', aria-label='Username', aria-describedby='basic-addon1')
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Passengers and Class
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-user
										input.form-control(type='text', placeholder='1 Person, Economy', aria-label='Username', aria-describedby='basic-addon1')
										.input-group-append.--append-floating
											span#basic-addon1.input-group-text
												i.fas.fa-ellipsis-h
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Currency
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-chevron-circle-right
										input.form-control(type='text', placeholder='1 Person, Economy', aria-label='Username', aria-describedby='basic-addon1')
							.col-6.pr-0
								.form-group.--icon-append
									label(for='basic-url')
										small Promo Code
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-tag
										input.form-control(type='text', placeholder='Insert Code', aria-label='Username', aria-describedby='basic-addon1')
							.col-6.d-flex.flex-row.align-items-center
								button.btn.btn-primary.btn-block Search Flights
					.col-12
						form.row.passengers-class-form
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Passengers and Class
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-user
										input.form-control(type='text', placeholder='1 Person, Economy', aria-label='Username', aria-describedby='basic-addon1')
										.input-group-append.--append-floating
											span#basic-addon1.input-group-text
												i.fas.fa-ellipsis-h
		include ../partials/foot

