body
	min-height: 100vh
	background-position: fixed
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	padding-bottom: 140px

nav.navbar
	padding-left: 0
	padding-right: 0
header, main
	padding: 0 20px
header
	background-color: rgba($white, 0.25)
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
main 
	width: 100%
	transition: width 0.2s ease


// main 
// 	width: calc(100% - 295px)
// .view-search
// 	main
// 		width: 100%
// aside
// 	width: 275px
// RESPONSIVE
// @media (max-width: $query-grid-tablet) 
	// main 
	// 	width: 100%
// Medium devices (tablets, 768px and up)
// BORRAR ESTE QUERI
@media (max-width: 768px)
	header, main
		padding: 0
@media (min-width: 768px)
	body 
		padding-bottom: 0
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
	&.--summary-active
		main
			width: calc(100% - 275px)